* {
  box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.board {
    width:300px;
    height: 300px;
}
.cell {
    padding:0;
    width: 33%;
    height: 33%;
    float:left;
    font-size: 120px;
    color: black;
    line-height: 100px;
    font-family: "Arial";
    text-align: center;
}
.active {
    color: red;
}